/* 
Need to steal actual fonts */
@font-face {
  font-family: "hyundai";
  src: url(Young.woff);
}
body {
  font-family: hyundai, sans-serif;
}
h1 {
  text-align: center;
}
header {
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  position: absolute;
  left: 45px;
  top: 15px;
}
.header-logo img {
  width: 125px;
  height: 25px;
}
nav {
  width: 100%;
}
.menu-ul {
  list-style: none;
  display: none;
  /* margin-left: -50%; */
}
.burger {
  position: absolute;
  right: 20px;
  top: 10px;
  /* margin-right: 35px; */
}
.burger img {
  /* position: absolute; */
  height: 40px;
  width: 55px;
}
.burger:hover > ul,
.burger:focus-within > ul {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  top: -20px;
  left: 0;
  background-color: white;
  font-size: 40px;
  text-align: left;
  z-index: 5;
}

.carousel {
  position: relative;
  /* background-color: aquamarine; */
  width: 100%;
}
.wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.wrapper.hero {
  height: 600px;
}
.container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  /* background-color: blue; */
}
.hero-image {
  width: 110%;
  top: 0;
}
.hero-text {
  width: 90%;
  top: -15px;
  /* background-color: bisque; */
}
.hero-text div {
  background-color: #002c5f;
  color: white;
  height: 40px;
  width: 90%;
  line-height: 40px;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.slider-nav a {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  border: solid 1px black;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover {
  opacity: 100%;
  background-color: rgb(86, 163, 201);
}

.discover.carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin-top: 50px;
}
.wrapper.discover {
  height: 80%;
}
.discover.carousel h1 {
  width: 67%;
  align-self: center;
}
.discover.container {
  height: 80%;
}
.discover-img {
  width: 85%;
}
.new.carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
.new.container {
  min-height: 500px;
}
.new img {
  /* height: 50%; */
  width: 90%;
}
.view-all {
  width: 80%;
  height: 150px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.view-all div {
  position: absolute;
  bottom: 0;
  background-color: #002c5f;
  color: white;
  width: 100%;
  /* height: 60px; */
  /* line-height: 60px; */
  text-align: center;
  padding: 20px;
}
.view-overlay {
  /* z-index: 4; */

  transform: translateX(-110%);
  transition: all 1s ease-in-out;
}
.view-all div:hover ~ .view-overlay {
  transform: translateX(0);
  background-color: #144277;
}
.wrapper-awkward {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container.awkward {
  margin-top: 50px;
  position: relative;
  align-items: flex-start;
  width: 80%;
  /* height: 500px; */
}
.container.awkward div {
  bottom: 0;
  background-color: #002c5f;
  color: white;
  width: 100%;
  text-align: center;
  padding: 20px;
}
.break.container {
  width: 75%;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.break.container h2 {
  margin-top: 160px;
  margin-bottom: 80px;
}
.break.container div {
  background-color: #002c5f;
  color: white;
  width: 100%;
  text-align: center;
  padding: 20px;
}
.grid-container {
  margin: auto;
  display: grid;
  height: 634px;
  width: 420px;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  overflow: hidden;
}
.grid {
  height: 288px;
  overflow: hidden;
  position: relative;
  width: auto;
  padding: 0;
}
.grid.big-image {
  height: 420px;
  width: 420px;
  /* grid-area: 1 / 1 / 3 / 3; */
}
.grid.big-image.first {
  grid-area: 1 / 1 / 3 / 3;
}
.grid img {
  position: absolute;
  top: 0;
  width: 100%;
}

.grid.big-image div {
  position: absolute;
  background-color: #002c5f;
  color: white;
  width: 100%;
  text-align: center;
  padding: 20px;
  bottom: 0;
}
.grid.small-image {
  height: 206px;
  width: 206px;
}
/* .grid.small-image img {
  position: absolute;
  top: 0;
  width: 100%;
} */
.grid.small-image.left {
  grid-area: 3 / 1 / 4 / 2;
}
.grid.small-image.right {
  grid-area: 3 / 2 / 4 / 3;
}
.grid.big-image.second {
  grid-area: 2 / 3 / 4 / 5;
}
.grid.small-image.left2 {
  grid-area: 1 / 3 / 1 / 4;
}
.grid.small-image.right2 {
  grid-area: 1 / 4 / 1 / 5;
}
.grid.big-image.third {
  grid-area: 1 / 5 / 3 / 7;
}
.grid.small-image.left3 {
  grid-area: 3 / 5 / 4 / 6;
}
.grid.small-image.right3 {
  grid-area: 3 / 6 / 4 / 7;
}
.p1 {
  opacity: 1;
}

@keyframes p1fade {
  from {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  74% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
.p2 {
  opacity: 1;
  animation: p1fade 30s;
  animation-iteration-count: infinite;
}
.p3 {
  opacity: 1;
  animation: p1fade 55s;
  animation-iteration-count: infinite;
}
.p4 {
  opacity: 1;
  animation: p1fade 80s;
  animation-iteration-count: infinite;
}
.p5 {
  opacity: 1;
  animation: p1fade 60s;
  animation-iteration-count: infinite;
}
/* .wrapper.insta {
  overflow-x: visible;
}
.insta.container {
  width: 284px;
  background-color: #144277;
  margin: 20px;
} */

.final.wrapper {
  margin-top: 100px;
  height: 400px;
}

.final img {
  width: 70%;
}
footer {
  /* position: relative; */
  background-color: #323232;
  /* height: 500px; */
  width: 100%;
  height: 1000px;
  margin: 0;
  color: rgb(255, 255, 255);
}
.logo-block {
  position: relative;
  top: 0;
  width: 90%;
  height: 150px;
}
.logo-block img {
  position: absolute;
  top: 80px;
  left: 50px;
}
.dropdown {
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
  width: 85%;
  margin: auto;
  padding-bottom: 60px;
}
.dropdown ul {
  padding: 0;
}
.dropdown li {
  display: inline-block;
  width: 100%;
  list-style: none;
  list-style-type: none;
  line-height: 60px;
  border-top: solid 2px rgba(255, 255, 255, 0.1);
  white-space: nowrap;
}
.dropdown ul li:hover ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dropdown ul ul {
  display: none;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}
.dropdown li li {
  /* display: none; */
  border: none;
  line-height: 25px;
}
/* .dropdown.arrow {
  border: none;
  width: 25px;
  justify-self: flex-end;
} */

@media (min-width: 860px) {
  .grid-container {
    width: 848px;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1000px) {
  .burger {
    display: none;
  }
  .menu-ul {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    line-height: 25px;
  }
  .menu-ul li {
    width: 60px;
  }
  .hero-text {
    position: absolute;
    color: white;
    top: 50px;
    left: 50px;
  }
  .hero-container {
    display: block;
  }
  .hero-text div {
    width: 30%;
  }
  .hero-image {
    position: relative;
    height: 100%;
    width: unset;
  }
}
@media (min-width: 1276px) {
  .grid-container {
    width: 1276px;
    grid-template-columns: repeat(6, 1fr);
  }
}
