@font-face {
  font-family: "hyundai";
  src: url(Young.woff);
}
body {
  font-family: hyundai, sans-serif;
}
header {
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin-left: 60px;
}
.header-logo img {
  width: 337px;
  height: 70px;
}
nav {
  width: 100%;
}
.menu-ul {
  list-style: none;
  display: none;
  /* margin-left: -50%; */
}
.burger {
  position: absolute;
  right: 35px;
  /* margin-right: 35px; */
}
.burger img {
  /* position: absolute; */
  height: 80px;
  width: 95px;
}
.burger:hover > ul,
.burger:focus-within > ul {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  top: -20px;
  left: 0;
  background-color: white;
  font-size: 40px;
  text-align: left;
  z-index: 5;
}
.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  /* border: solid 2px black;
  background-color: blue; */
}
.hero-image {
  position: relative;
  width: 110%;
  top: 0;
}
.hero-text {
  position: relative;
  width: 90%;
  top: -15px;
}
.hero-text div {
  background-color: #002c5f;
  color: white;
  height: 40px;
  width: 80%;
  line-height: 40px;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

@media (min-width: 1000px) {
  .burger {
    display: none;
  }
  .menu-ul {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    line-height: 25px;
  }
  .menu-ul li {
    width: 60px;
  }
}
